.input_group {
  @apply flex flex-col space-y-2 w-full h-full relative;
  input {
    @apply border-[1px] border-solid border-primary bg-white rounded-[10px] p-2 
    hover:border-secondary focus:border-secondary focus:outline-none focus:ring-0
      transition-all duration-200 ease-in-out text-black font-cairo disabled:hover:bg-gray-400 disabled:hover:border-gray-400 disabled:border-gray-400;
  }

  select{
    @apply border-[1px] border-solid border-primary bg-white rounded-[10px] p-2 
    hover:border-secondary focus:border-secondary focus:outline-none focus:ring-0
      transition-all duration-200 ease-in-out text-black font-cairo;
  }

  &__error {
      @apply text-red-500 text-sm font-semibold font-cairo;
  }

  label {
    @apply text-white text-[16px] font-bold font-cairo ;
  }

  &--text_input__icon {
    @apply absolute top-[60%] transform -translate-y-1/2 right-2;

    svg {
      @apply w-6 h-6;
      cursor: pointer;
    }
  }

  &--error{
    input {
      @apply border-red-500;
    }
  }

  &--disabled {
    input {
      @apply disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:bg-gray-400 disabled:hover:border-gray-400;
    }
  }
}
