@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Components Imports */
@import "./components/input.scss";
@import "./components/button.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* General Use Tailwind Components */
@layer components {
  .form_input_group {
    @apply flex gap-5 w-full;
  }
}


.gradient{
  background: linear-gradient(180deg, #F3FFFF 0%, #F7FFEE 100%);
}

.gradient2{
  background: linear-gradient(248.03deg, rgba(167, 210, 69, 0.1) -15.77%, rgba(62, 204, 209, 0.1) 100.81%);
}

.gradient3{
  background: linear-gradient(248.03deg, #A7D245 -15.77%, #3ECCD1 100.81%);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: auto;  /* This ensures horizontal scrollbars are not affected */
}

/* Track */
::-webkit-scrollbar-track:vertical {
  border-radius: 100vh;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(248.03deg, #A7D245 -15.77%, #3ECCD1 100.81%);
}

/* Optional: Hide horizontal scrollbar */
::-webkit-scrollbar-horizontal {
  display: none;
}
